
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


header {
  background: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  height: 100px;
  font-style: italic;
  text-decoration: underline;
}

header > img{
     margin-right: 10px;
}
header > h1{
  font-size: 2.3rem;
  font-weight: 1500;
}

article.journal-entry {
  display: flex;
  gap: 20px;
  padding: 20px 40px;
  border-bottom: 1px solid #eee;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.fuji-container {
  width: 160px;
  height: 210px;
  overflow: hidden;
  border-radius: 8px;
  flex-shrink: 0;
}

.fuji {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.entry-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.entry-location {
  font-size: 0.8rem;
  color: #2B283A;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.entry-location img {
  width: 12px;
  height: 12px;
}

.entry-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.entry-date {
  font-size: 0.9rem;
  font-weight: bold;
}

.entry-desc {
  font-size: 0.9rem;
  color: #4d4d4d;
  line-height: 1.4;
}

.entry-location a {
  color: #918E9B;
  text-decoration: underline;
  margin-left: 10px;
  font-size: 0.75rem;
}


